.markdown {
  font-family: var(--font-inter);
  h1 {
    font-size: 2em;
    font-weight: 700;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 700;
  }
  h3 {
    font-size: 1.17em;
    font-weight: 700;
  }

  a {
    color: #0070F0;
    text-decoration: underline;
  }
}

.markdown > * {
  margin-top: 1em;
  margin-bottom: 1em;
}